---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  max-width: none;
}

header {
  width: 25%;
  float: left;
  background-color: lightblue;
  padding: 10px;
  min-height: 100vh;
  box-sizing: border-box;
}

section {
  width: 70%;
  float: right;
}
