---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%;
  max-width: none;
}

header {
  width: 25%;
  background-color: lightblue;
  float: left;
}

section {
  width: 70%;
  float: right;
}
